@model IEnumerable<Role>

<h1 class="bg-info text-white">Cập nhật Role</h1>
<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="EditRole" method="post">
    <div class="form-group">
        <label for="name">Tên Role:</label>
        <input name="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description">Mô tả:</label>
        <input name="description" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>